[submodule "PERIODIC"]
	path = PERIODIC
	url = https://github.com/NobleUplift/PERIODIC.git
[submodule "HEART"]
	path = HEART
	url = https://github.com/NobleUplift/HEART.git
[submodule "RANDOM"]
	path = RANDOM
	url = ../RANDOM.git
